@import './src/scss/reset';
@import './src/scss/variables';
@import './src/scss/mixin';

//Adds ... if text is longer than block
.truncate {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &_title {
    height: 4em;
  }

  &_subtitle {
    width: 7em;
  }

  &_text {
    width: 20.43em;
  }
}

//Common styles
.title {
  @include font(49, 400, 63);

  color: $white;
  font-family: 'PT Sans', sans-serif;
}

.subtitle {
  @include font(22, 500, 26);

  color: $primary-color;
}

.text {
  @include font(14, 300, 16);

  color: $primary-color;
}

//page styles
.page-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: $bg-primary-color;
}

.form {
  @include fs-rem(16);

  display: flex;
  width: 100%;
  max-width: 665px;
  height: 400px;
  max-height: 600px;
  box-shadow: 0 12px 82px rgba(0, 0, 0, 0.2);

  &__title {
    position: relative;
    width: 20.6%;
    min-width: 70px;
    height: 100%;
    padding-top: 20px;
    padding-left: 6px;
    background-color: $bg-secondary-color;
    transform: scale(-1);
    writing-mode: vertical-lr;
  }

  &__data-entry {
    width: 79.4%;
    padding: 38px 22px 32px 20px;
    font-family: 'Work Sans', sans-serif;
    background-color: $white;
  }

  &__subtitle {
    margin-bottom: 5px;
  }

  &__text {
    margin-bottom: 20px;
  }
}
