@import './src/scss/reset';
@import './src/scss/variables';
@import './src/scss/mixin';
@import './src/scss/animation';

//Adds ... if text is longer than block
.truncate {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &_title {
    height: 4em;
    letter-spacing: 0.5px;
  }

  &_subtitle {
    width: 7em;
    letter-spacing: -0.46px;
  }

  &_text {
    width: 90%;

    @media screen and (min-width: $breakpoint-sm) {
      width: 20.43em;
    }
  }

  &_label {
    width: 50%;
  }
}

//Common styles - may be used anywhere outside the form
.title {
  @include font(49, 400, 63);

  color: $white;
  font-family: 'PT Sans', sans-serif;
}

.subtitle {
  @include font(22, 500, 26);

  color: $primary-color;
}

.text {
  @include font(14, 300, 16);

  color: $primary-color;

  a {
    color: $tertiary-color;
    font-weight: 500;
  }

  &_size_smaller {
    @include fs-em(13);

    line-height: 1.05;
  }
}

.btn {
  width: 11em;
  height: 2.285em;
  color: $white;
  font-weight: 400;
  font-size: 0.875em;
  font-family: 'PT Sans', sans-serif;
  line-height: 2.285em;
  text-align: center;
  background-color: $tertiary-color;
  border: none;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &_error {
    animation: shake 0.3s ease;
  }
}

//page styles
.page-signup {
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  padding: 20px;
  background-color: $bg-primary-color;
}

// form specific styles
.form {
  @include fs-rem(16);

  display: flex;
  width: 100%;
  max-width: 665px;
  margin: auto;
  box-shadow: 0 12px 82px rgba(0, 0, 0, 0.2);

  &__title {
    position: relative;
    z-index: 5;
    width: 20.6%;
    min-width: 70px;
    padding-top: 22px;
    padding-left: 6px;
    background-color: $tertiary-color;
    transform: scale(-1);
    writing-mode: vertical-lr;
  }

  &__data-entry {
    position: relative;
    width: 79.4%;
    padding: 37px 20px 32px;
    font-family: 'Work Sans', sans-serif;
    background-color: $white;
  }

  &__subtitle {
    &_fade-in {
      opacity: 0;
      animation: fade-in 0.4s 0.3s forwards;
    }
  }

  &__text {
    margin-bottom: 20px;

    &_fade-in {
      opacity: 0;
      animation: fade-in 0.4s 0.7s forwards;
    }
  }

  &__content {
    position: relative;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 85px;
  }

  &__block {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;

    @for $i from 0 through 8 {
      &:nth-child(#{$i}) {
        z-index: 100 - 5 * $i;
      }
    }

    &_size_xl {
      width: 100%;

      @media screen and (min-width: $breakpoint-md) {
        width: 48%;
      }

      @media screen and (min-width: $breakpoint-md) {
        width: 100%;
        max-width: 235px;
      }
    }

    &_size_sm {
      width: 24%;
    }

    &_size_lg {
      width: 35%;
      margin-right: 3%;
      margin-left: 3%;

      @media screen and (min-width: $breakpoint-xs) {
        margin-right: 5%;
        margin-left: 5%;
      }

      @media screen and (min-width: $breakpoint-md) {
        width: 38%;
        margin-right: 3%;
        margin-left: 3%;
      }
    }

    &_size_md {
      width: 27%;
    }

    &_fade-in {
      opacity: 0;

      @for $i from 0 through 8 {
        &:nth-child(#{$i}) {
          animation-name: fade-in;
          animation-duration: 0.5s;
          animation-delay: 1s + $i * 0.5s;
          animation-fill-mode: forwards;
        }
      }
    }
  }

  &__error {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 15;
    width: 100%;
    padding: 5px;
    font-size: 0.7em;
    background: rgb(255, 158, 158);
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;

    &::before {
      position: absolute;
      top: -4px;
      left: 12px;
      display: block;
      width: 0;
      height: 0;
      border-right: 5px solid transparent;
      border-bottom: 5px solid rgb(255, 158, 158);
      border-left: 5px solid transparent;
      content: '';
    }
  }

  &__label {
    @include font(12, 300, 14);

    position: relative;
    color: $secondary-color;

    &_for-radio {
      margin-bottom: 5px;
    }

    &[for="password"],
    &[for='confirm-password'] {
      margin-top: -12px;
    }
  }

  &__icon-valid {
    position: absolute;
    right: 0;
    bottom: 13px;
    width: 11px;
    height: 8px;
    transition: stroke-dashoffset 0.2s ease-in;
    fill: none;
    stroke: $tertiary-color;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 15;
    stroke-dashoffset: 15;
  }

  &__icon-list-arrow {
    position: absolute;
    right: 0;
    bottom: 13px;
    z-index: 1;
    width: 8px;
    height: 4px;
    fill: none;
    stroke: $primary-color;
  }

  &__input,
  &__select,
  &__radio-label {
    @include font(14, 400, 16);

    width: 100%;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 6px;
    color: $primary-color;
    background: transparent;
    border: none;
    border-bottom: 1px solid $input-border-color;
    transition: 0.3s;

    &:focus {
      outline: none;
    }
  }

  &__input {
    &_invalid {
      color: $error;
      border-bottom: 2px solid $error;

      ~ .form__error {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.4s;
      }
    }

    &_valid {
      ~ .form__icon-valid {
        stroke-dashoffset: 0;
      }
    }
  }

  &__select {
    position: relative;
    z-index: 5;
    appearance: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__radio-label {
    position: relative;
    border-bottom: none;

    &::before {
      position: absolute;
      top: 7px;
      left: -18px;
      display: block;
      width: 12px;
      height: 12px;
      border: 1px solid $tertiary-color;
      border-radius: 50%;
      content: '';
    }

    &::after {
      position: absolute;
      top: 11px;
      left: -14px;
      display: block;
      width: 6px;
      height: 6px;
      background-color: $tertiary-color;
      border-radius: 50%;
      transform: scale(0);
      transition: transform 0.2s;
      content: '';
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__radio {
    appearance: none;

    &:checked {
      ~ label {
        &::after {
          transform: scale(1);
        }
      }
    }
  }

  &__footer {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_fade-in {
      opacity: 0;
      animation: fade-in 0.4s 5.5s forwards;
    }
  }

  &__icon-user-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 200px;
    height: 200px;
    animation: draw-user-bg 3s ease-in 6s forwards;
    fill: $user-icon-bg-color;
    stroke: darken($color: $user-icon-bg-color, $amount: 5);
    fill-opacity: 0;
    stroke-dasharray: 3810;
    stroke-dashoffset: 3810;

    @media screen and (min-width: $breakpoint-xs) {
      width: 411px;
      height: 411px;
    }
  }

  &__modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 45px;
    padding-left: 20px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in;

    &_active {
      visibility: visible;
      opacity: 1;
    }
  }
}

.modal {
  &__subtitle,
  &__text {
    margin-left: 10%;

    @media screen and (min-width: $breakpoint-sm) {
      margin-left: 45px;
    }
  }

  &__subtitle {
    margin-top: auto;
    margin-bottom: 10px;
  }

  &__text:last-of-type {
    margin-top: auto;
  }
}
